@model RISTORANTIS.Models.Bloquear

@{
    ViewData["Title"] = "Desbloquear";
}

<head>
    <style>
        .button {
            background-color: #F5DEB3;
            border-color: #000000;
            color: #000000;
            padding: 5px 20px;
            text-align: center;
            display: compact;
            font-size: 15px;
        }
    </style>
</head>

<h1>Desbloquear Utilizador</h1>

<link href="~/StyleSheetGeral.css" rel="stylesheet" />

@*<h4>Bloquear</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Desbloquear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataBloquear" />
			<div class="form-group" hidden>
			    <label asp-for="MotivoBloqueio" class="control-label"> Motivo de Bloqueio </label>
				<input asp-for="MotivoBloqueio" class="form-control" />
				<span asp-validation-for="MotivoBloqueio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataDesbloqueio" class="control-label"> Data de Desbloqueio: </label>
				<input asp-for="DataDesbloqueio" class="form-control" value="@DateTime.Now"/>
				<span asp-validation-for="DataDesbloqueio" class="text-danger"></span>
			</div>
            <input type="hidden" asp-for="IdAdministrador" />
            <input type="hidden" asp-for="IdUtilizador" />
            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary; button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GerirUtilizadores" style="color:black">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
