@model RISTORANTIS.Models.Utilizador

@{
	ViewData["Title"] = "Registar";
}

<head>
    <style>
        .button {
            background-color: #F5DEB3;
            border-color: #000000;
            color: #000000;
            padding: 5px 20px;
            text-align: center;
            display: compact;
            font-size: 15px;
        }
    </style>
</head>

<h1>Criar Conta</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Registar" >
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" type="email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" type="password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group" hidden>
				<label asp-for="Estado" class="control-label"></label>
				<input asp-for="Estado" value="Registado" class="form-control" />
				<span asp-validation-for="Estado" class="text-danger"></span>
			</div>
			<div class="dropdown-menu-right">
				<input type="submit" value="Registar como Cliente" class="btn btn-primary; button" />
				<br />
				<br />
				<input type="submit" value="Registar como Restaurante" class="btn btn-primary; button" formaction="Redirecionar"/>

			</div>
		</form>
	</div>
</div>

<div>
	<br />
	<a asp-action="Login" style="color:black">Fazer Login</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

