@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Error403";
}

<!DOCTYPE html>
<html>
<head>
	
	<link href="~/Proibido.css" rel="stylesheet" />

</head>
	<body>
		
		<div class="ghost">

			<div class="ghost--navbar"></div>
			<div class="ghost--columns">
				<div class="ghost--column">
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
				</div>
				<div class="ghost--column">
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
				</div>
				<div class="ghost--column">
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
					<div class="code"></div>
				</div>

			</div>
			<div class="ghost--main">
				<div class="code"></div>
				<div class="code"></div>

			</div>

		</div>

		<h1 class="police-tape police-tape--1">
			&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
		</h1>
		<h1 class="police-tape police-tape--2">Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>


	</body>
	</html>
